.container {
  text-align: center;
  margin: 20px;

  &__title {
    font-size: 30px;
    margin-bottom: 50px;
  }

  &__img {
    margin-bottom: 50px;
  }

  @media only screen and (max-width: 600px) {
    &__img {
      width: 250px;
    }
  }
}

